<h1><%= @blogger.name %></h1>

<p><%= @blogger.bio %></p>
<p>Age: <%= @blogger.age %></p>
<p>Total likes: <%= @blogger.total_likes %></p>

<% unless @blogger.posts.count == 0 %>
  <h2>Featured posts</h2>
  <ul>
  <% @blogger.featured_posts.each do |post| %>
    <li>
      <%= link_to post.title, post %>
    </li>
  <% end %>
  </ul>
<% end %>