<%= form_for post do |f| %>

  <div>
    <%= f.label :title, "Title" %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :content, "Content" %>
    <%= f.text_area :content %>
  </div>

  <div>
    <%= f.label :blogger, "Blogger" %>
    <%= f.collection_select :blogger_id, Blogger.all, :id, :name, prompt: true %>
  </div>

  <div>
    <%= f.label :destination, "Destination" %>
    <%= f.collection_select :destination_id, Destination.all, :id, :name, prompt: true %>
  </div>



  <%= f.submit %>

<% end %>